Q1. Create one variable containing following type of data: 
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s = "rqhul"
l = [2,4,7,9,'sss']
b = 45.67
t = (34,57,'aaa')

.

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [7]:
var1 = ''
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python']
type(var3)

list

In [10]:
var4 = 1
type(var4)

int

.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
25/5

5.0

In [12]:
13%5

3

In [13]:
16//5

3

In [14]:
2**3

8

.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
l = [2,5,8,'sss', 56.56,True,3+4j,False,56,33.3]
for i in l:
    print(i, type(i))

2 <class 'int'>
5 <class 'int'>
8 <class 'int'>
sss <class 'str'>
56.56 <class 'float'>
True <class 'bool'>
(3+4j) <class 'complex'>
False <class 'bool'>
56 <class 'int'>
33.3 <class 'float'>

.

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A = 120
B = 6
count = 0

while A % B == 0:
    count += 1
    A = A // B

print(f"Number A is divisible by B {count} times.")

.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [ ]:
numbers = [72, 12, 18, 22, 366, 42, 55, 630, 70, 81, 18, 92, 105, 411, 120, 133, 15, 152, 333, 175, 183, 190, 198, 25, 50]

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
Immutable
Immutable data types are those whose values cannot be modified once they are created. Any operation that 
appears to modify an immutable object actually creates a new object with the modified value. Examples of 
immutable data types in Python include integers, floats, booleans, strings, and tuples

Mutable
Mutable data types, on the other hand, are objects whose values can be changed after they are created. Examples
of mutable data types in Python include lists, dictionaries, and sets

In [ ]:
# Immutable
s = "delhi"
s[1] = j
print(s)

In [ ]:
# Mutablee
l = [ 2, 4, 7,8]
l[2] = 56
print(l)