### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information or data, typically stored and accessed electronically. It is designed to efficiently manage and store data for various applications and enable easy retrieval, manipulation, and analysis of that data.

SQL (Structured Query Language) Databases:
SQL databases are based on the relational data model, where data is organized into tables with predefined schemas. They use SQL as the standard language for managing and querying data. SQL databases have the following characteristics:

1. Structured: Data is organized in a structured manner with predefined schemas and relationships between tables.
2. ACID Compliance: ACID stands for Atomicity, Consistency, Isolation, and Durability. SQL databases ensure transactional consistency and integrity.
3. Relational Integrity: SQL databases enforce relational integrity constraints, such as foreign key relationships and data consistency rules.
4. Strong Data Consistency: Data in SQL databases follows a strict schema, ensuring strong consistency.
5. Vertical Scalability: SQL databases usually scale vertically by increasing the hardware resources of the server.
 
 Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.

NoSQL (Not only SQL) Databases:
NoSQL databases deviate from the traditional relational model and provide a more flexible approach for managing unstructured and semi-structured data. NoSQL databases have the following characteristics:


1. Schemaless: NoSQL databases allow flexible schemas, enabling storage of unstructured and varying data types.
2. High Scalability: NoSQL databases are designed to scale horizontally by distributing data across multiple servers.
3. Eventual Consistency: NoSQL databases prioritize scalability and availability over immediate consistency, allowing eventual consistency among replicas.
4. Distributed Architecture: NoSQL databases are designed to work efficiently in distributed environments.
5. Variety of Data Models: NoSQL databases support various data models, such as key-value, document, columnar, and graph databases.

    Examples of NoSQL databases MongoDB.

.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are responsible for creating, altering, and dropping database objects such as tables, indexes, views, and constraints. They help in defining the schema of the database and managing its structure.

1. CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or constraints. It specifies the object's name, structure, and any initial data or properties. Here's an example of creating a table:

In [ ]:
CREATE TABLE Employees (
    EmployeeID INT,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT,
    Salary DECIMAL(10, 2)
);

2. DROP:
The DROP statement is used to remove or delete existing database objects, such as tables, views, or indexes. It permanently deletes the specified object and its associated data. Here's an example of dropping a table:

In [ ]:
DROP TABLE Employees;

3. ALTER:
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of a table. Here's an example of altering a table by adding a new column:

In [ ]:
ALTER TABLE Employees
ADD COLUMN Department VARCHAR(50);

4. TRUNCATE:
The TRUNCATE statement is used to remove all the data from a table while keeping its structure intact. It is faster than the DELETE statement because it does not generate individual delete logs for each row. Here's an example of truncating a table:

In [ ]:
TRUNCATE TABLE Employees;

.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to retrieve, insert, update, and delete data within a database. DML statements are used to perform operations on the data stored in database objects like tables. They allow you to manipulate the data and modify its content.

1. INSERT:
The INSERT statement is used to add new rows of data into a table. It allows you to specify the column names and their corresponding values for the new row. Here's an example of inserting a new row into a table:

In [ ]:
INSERT INTO Employees (EmployeeID, FirstName, LastName, Age, Salary)
VALUES (1, 'John', 'Doe', 30, 50000);

2. UPDATE:
The UPDATE statement is used to modify the existing data within a table. It allows you to change the values of one or more columns in one or more rows based on specified conditions. Here's an example of updating a row in a table:

In [ ]:
UPDATE Employees
SET Salary = 55000
WHERE EmployeeID = 1;

3. DELETE:
The DELETE statement is used to remove one or more rows from a table. It allows you to specify conditions to determine which rows should be deleted. Here's an example of deleting a row from a table:

In [ ]:
DELETE FROM Employees
WHERE EmployeeID = 1;

.

### Q4. What is DQL? Explain SELECT with an example.

 DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL is primarily focused on querying and fetching data without modifying its structure. The most commonly used DQL statement is SELECT, which allows you to retrieve specific data from one or more database tables.

SELECT:
The SELECT statement is used to retrieve data from a database table or a combination of tables. It allows you to specify the columns you want to retrieve, filter the rows based on conditions, and sort the result set. Here's an example of using SELECT to fetch data from a table:

In [ ]:
SELECT FirstName, LastName, Age
FROM Employees
WHERE Department = 'Sales'
ORDER BY LastName ASC;

.

### Q5. Explain Primary Key and Foreign Key.

1. Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each record (row) in that table. It serves as a unique identifier for each entry in the table, ensuring data integrity and facilitating efficient data retrieval. Key characteristics of a primary key include:


Uniqueness: Each value in the primary key column(s) must be unique. No two rows can have the same value(s) for the primary key.

Non-nullability: A primary key column cannot have null (empty) values. It must always have a value for every record.

Irreducibility: A primary key should consist of the minimum number of columns required to uniquely identify each record

2. Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link or a relationship between two tables. It represents a relationship between the data in two tables by referring to the primary key of another table. The primary key column(s) of one table become the foreign key column(s) in another table. Key characteristics of a foreign key include:

Referential Integrity: A foreign key establishes a referential relationship between tables, ensuring that the values in the foreign key column(s) of one table correspond to the primary key values in another table.

Constraint: A foreign key can enforce referential integrity by specifying constraints such as ON DELETE and ON UPDATE actions, which define how changes to the primary key values in the referenced table should be handled.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password"
)
print(mydb)
mycursor = mydb.cursor()
print("connected")

mycursor.execute("select * from database.table_name")
mydb.close()

The cursor() method creates a cursor object, which is responsible for executing SQL queries and fetching the results. It acts as a pointer or a handle to interact with the database. The cursor allows you to execute multiple queries and retrieve data from the database.

The execute() method is used to execute SQL queries through the cursor. You pass the SQL statement as a string parameter to the execute() method. It can be any valid SQL query, such as SELECT, INSERT, UPDATE, or DELETE. After executing the query, the cursor holds the result set, which can be fetched using methods like fetchall(), fetchone(), or fetchmany().

.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The general order of execution for the clauses in an SQL query is as follows:

1. FROM: Specifies the table(s) from which the data will be retrieved.
2. WHERE: Filters the rows based on specified conditions.
3. GROUP BY: Groups the rows based on specified columns.
4. HAVING: Filters the grouped rows based on specified conditions.
5. SELECT: Specifies the columns to be retrieved from the selected rows.
6. DISTINCT: Removes duplicate rows from the result set.
7. ORDER BY: Sorts the result set based on specified columns.
8. LIMIT/OFFSET: Restricts the number of rows returned or skips a specified number of rows.
9. UNION/INTERSECT/EXCEPT: Performs set operations on multiple result sets.