In [49]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [50]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#### Q1. Write a code to print the data present in the second row of the dataframe,

In [21]:
second_row = df.loc[1]

In [22]:
second_row

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

.

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In pandas, both the loc and iloc functions are used to access data in a DataFrame, but they have different methods of indexing and selecting data.

loc: This function is primarily label-based. It is used for selecting data based on the labels of rows and columns. The syntax for loc is df.loc[row_label, column_label]. You can use actual row and column labels to access data.

Example:

In [32]:
# Use loc when you want to access data based on labels (row and column names).
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'])

In [27]:
df

      A  B
row1  1  4
row2  2  5
row3  3  6

In [29]:
value = df.loc['row2', 'B']  # Access the value in row 'row2' and column 'B'
value

5

iloc: This function is purely integer index-based. It is used for selecting data based on the integer index of rows and columns. The syntax for iloc is df.iloc[row_index, column_index]. You use integer indices to access data.

Example:

In [33]:
# Use iloc when you want to access data based on integer indices (0-based indices).
import pandas as pd

data = {'A': [1, 2, 3],
        'B': [4, 5, 6]}
df = pd.DataFrame(data)
df

   A  B
0  1  4
1  2  5
2  3  6

In [34]:
value = df.iloc[1, 1]  # Access the value in the second row and second column
print(value)

5

.

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [51]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [44]:
index = [3,0,1,2]

In [45]:
new_df = df.reindex(index)

In [46]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [52]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

Original DataFrame (df) before setting the index:

The original DataFrame has default integer indices (0, 1, 2, 3) automatically assigned by pandas. Each row is uniquely identified by these integer indices.

Reindexed DataFrame (new_df) after setting the new index:

After reindexing, the rows of the DataFrame have been rearranged according to the reindex list: [3, 0, 1, 2]. This means that the rows are now ordered based on the provided indices.

.

In [53]:
#Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [54]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.993780  0.864838  0.660642  0.910291  0.559244  0.037053
2  0.326543  0.301108  0.687837  0.216282  0.040596  0.338978
3  0.721092  0.026552  0.438790  0.364395  0.572211  0.526036
4  0.825586  0.316082  0.068427  0.509691  0.448216  0.730552
5  0.976903  0.971751  0.575725  0.454002  0.261528  0.923680
6  0.963273  0.598136  0.441126  0.927645  0.566914  0.873206

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.

In [55]:
df1.mean()

column_1    0.801196
column_2    0.513078
column_3    0.478758
column_4    0.563718
column_5    0.408118
column_6    0.571584
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [56]:
df1['column_2'].std()

0.3638125436647644

.

In [57]:
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

SyntaxError: invalid syntax (2531137317.py, line 1)

In [61]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]

# Creating a DataFrame:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# List of fruit names
fruit_names = ['Apple', 'Banana', 'Orange', 'Grapes', 'Mango', 'Strawberry']

# Replace all values in 'column_2' with fruit names
df1['column_2'] = np.random.choice(fruit_names, size=len(df1))

print("DataFrame with replaced fruit names in 'column_2':")
print(df1)

DataFrame with replaced fruit names in 'column_2':
   column_1 column_2  column_3  column_4  column_5  column_6
1  0.550284   Grapes  0.298585  0.276328  0.960556  0.845891
2  0.426641    Apple  0.526090  0.444234  0.196206  0.494878
3  0.101885   Banana  0.764162  0.468974  0.585665  0.363058
4  0.138031    Mango  0.040062  0.402077  0.307303  0.709434
5  0.584159   Banana  0.297842  0.873678  0.472381  0.261888
6  0.935376   Orange  0.582243  0.840149  0.224217  0.623607

In [62]:
df1['column_2'].mean()

TypeError: Could not convert GrapesAppleBananaMangoBananaOrange to numeric

The .mean() function in pandas works with numerical data, and it won't provide a meaningful result when applied to string values like fruit names.

If you intend to calculate the mean for a column, the column should contain numerical data. In this case, 'column_2' contains string values.

.

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In pandas, a window function, also known as a rolling or moving function, operates on a specified window of data points, typically moving through a series or DataFrame, and performs a calculation over that window. It's particularly useful for time series data or any ordered data where you want to analyze trends, patterns, or aggregations over a moving range of values. The window can "slide" or "roll" over the data, and at each position, a calculation is applied to the data points within the window.

Window functions are useful for tasks like calculating moving averages, cumulative sums, aggregating data over time periods, and more.

Pandas provides the rolling() function to create a rolling view of a pandas Series or DataFrame, which you can then use to apply various window functions. Here are some commonly used types of window function

Aggregation Functions:

1. sum(): Calculate the sum of values in the rolling window.
2. mean(): Calculate the mean of values in the rolling window.
3. min(), max(): Calculate the minimum and maximum of values in the rolling window.
4. std(), var(): Calculate the standard deviation and variance of values in the rolling window.

.

#### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [63]:
import pandas as pd

# Get the current date and time
current_date = pd.to_datetime('now')

# Extract the current month and year
current_month = current_date.month
current_year = current_date.year

print("Current month:", current_month)
print("Current year:", current_year)

Current month: 9
Current year: 2023

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:2199: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  result, tz_parsed = tslib.array_to_datetime(

.

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [64]:
import pandas as pd

date1_str = input("Enter the first date (YYYY-MM-DD): ")
date2_str = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1_str)
date2 = pd.to_datetime(date2_str)

time_difference = date2 - date1

days = time_difference.days
hours = time_difference.seconds // 3600
minutes = (time_difference.seconds % 3600) // 60

print("Time difference:")
print(f"{days} days, {hours} hours, and {minutes} minutes")

Enter the first date (YYYY-MM-DD): 2023-01-22
Enter the second date (YYYY-MM-DD): 2023-06-11
Time difference:
140 days, 0 hours, and 0 minutes

.

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/alisa/OneDrive/Desktop/Datasets/student_data.csv")

In [4]:
df

,Student Id,Test Score,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,90.0,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,85.0,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Mean = df['Test Score'].mean()

In [6]:
Mean

83.5

In [7]:
Median = df['Test Score'].median()

In [8]:
Median

85.0

In [9]:
Mode = df['Test Score'].mode()

In [13]:
Mode

0    85.0
Name: Test Score, dtype: float64

In [14]:
data = {'Statistic_Values': [Mean, Median, Mode]}
df = pd.DataFrame(data, index=['Mean', 'Median', 'Mode'])
df

                                  Statistic_Values
Mean                                          83.5
Median                                        85.0
Mode    0    85.0
Name: Test Score, dtype: float64